/* import scss */
@import "colores";

@for $i from 1 through 3 {
	h#{$i}{
	font-size:30px - (6*$i)
	}
}


body {
	font-family: 'Quicksand', sans-serif;

}
.card {
    background-image: linear-gradient(to right, black, grey);
}
.card__contenedor {
	color: $blanco;
}
.card__titulo {
	color: $blanco;
}
.card__texto {
	color: $blanco;
}
.logo {
	display: block;
	margin: auto;
	width: 150px;
	height: 150px;
	margin-left: 25px;
}
.menu {
	font-size: 16px;
	align-items: flex-start;
}	
.menu ul a {
	list-style: none;
	text-decoration: none;
	color: black;
	display: flex;
	justify-content: space-around;
}
.menu a:hover {
	font-size: 18px;
	font-weight: bold;
}
.menu li {
	display: inline-block;
	width: 15%;
	position: relative;
	margin-top: 40px;
	margin-left: 10px;
	padding-left: 10px;
}
#texto #foto {
	border: solid 1px black;
	background-color: $gris;
}
@mixin sizes ($widht, $height, $padding, $margin-right, $margin-left, $background-image){
	height:$height;
	width:$widht;
	padding:$padding;
	margin-right:$margin-right;
	margin-left:$margin-left;
	background-image:$background-image;
}
.footer{
	@include sizes(100%,150px,0,0,0,linear-gradient(to right, black, grey))
}
footer .redes {
	color: $blanco;
	list-style: none;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 25px;
}
/*grid index*/
#layout_index {
	display: grid;
	grid-template-areas: 
	"logo nav nav"
	"foto foto texto"
	"footer footer footer";
	grid-template-rows: 100px 500px 120px;
	grid-template-columns: 300px 15% auto;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	height: 100vh;
	margin: 0;
}
header{
	grid-area: logo;
}
nav {
	grid-area: nav;
}
footer {
	grid-area: footer;
	font-size: 12px;
	background-color: $gris;
}
section#foto {
	grid-area: foto;
}
section#texto {
	grid-area: texto;
}
.foto_index {
	display: block;
	margin: auto;
	margin-top: 75px;
	width: 400px;
	height: 350px;
}
.texto_index {
	font-size: 27px;
	display: block;
	margin: 150px 100px 150px 100px;
}
/* grid sobre mi*/
#layout_sobre_mi {
	display: grid;
	grid-template-areas: 
	"logo nav nav"
	"foto foto texto"
	"foto foto texto"
	"footer footer footer";
	grid-template-rows: 100px 500px 500px 120px;
	grid-template-columns: 300px 15% auto;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	height: 100vh;
	margin: 0;
}
header{
	grid-area: logo;
}
nav {
	grid-area: nav;
}
footer {
	grid-area: footer;
	font-size: 12px;
	background-color: $gris;
}
section#foto {
	grid-area: foto;
}
section#texto {
	grid-area: texto;
}
.foto__sobre_mi--arriba {
	display: block;
	margin: auto;
	margin-top: 75px;
	width: 400px;
	height: 350px;
}
.texto__sobre_mi--arriba {
	font-size: 27px;
	display: block;
	margin: 150px 100px 150px 100px;
}
.foto__sobre_mi--abajo {
	display: block;
	margin: auto;
	margin-top: 520px;
	width: 400px;
	height: 350px;
}
.texto__sobre_mi--abajo {
	font-size: 27px;
	display: block;
	margin: 600px 100px 150px 100px;
}
/*grid contacto*/
#layout_contacto {
	display: grid;
	grid-template-areas: 
	"logo nav nav"
	"foto foto texto"
	"footer footer footer";
	grid-template-rows: 100px 500px 120px;
	grid-template-columns: 300px 15% auto;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	height: 100vh;
	margin: 0;
}
header{
	grid-area: logo;
}
nav {
	grid-area: nav;
}
footer {
	grid-area: footer;
	font-size: 12px;
	background-color: $gris;
}
section#foto {
	grid-area: foto;
}
section#texto {
	grid-area: texto;
}
.foto__index {
	display: block;
	margin: auto;
	margin-top: 75px;
	width: 400px;
	height: 350px;
}
form .texto__index {
	font-size: 27px;
	display: block;
	margin: 120px 100px 150px 100px;
}
/*grid proyectos*/
#layout_proyectos {
	display: grid;
	grid-template-areas: 
	"logo nav nav"
	"foto foto texto"
	"footer footer footer";
	grid-template-rows: 100px 500px 120px;
	grid-template-columns: 300px 15% auto;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	height: 100vh;
	margin: 0;
}
header{
	grid-area: logo;
}
nav {
	grid-area: nav;
}
footer {
	grid-area: footer;
	font-size: 12px;
	background-color: $gris;
}
section#foto {
	grid-area: foto;
}
section#texto {
	grid-area: texto;
}
.foto__index {
	display: block;
	margin: auto;
	margin-top: 75px;
	width: 400px;
	height: 350px;
}
.texto__index {
	font-size: 27px;
	display: block;
	margin: 150px 100px 150px 100px;
}
/*grid servicios*/
#layout_servicios {
	display: grid;
	grid-template-areas: 
	"logo nav nav"
	"foto foto texto"
	"footer footer footer";
	grid-template-rows: 100px 500px 120px;
	grid-template-columns: 300px 15% auto;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	height: 100vh;
	margin: 0;
}
header{
	grid-area: logo;
}
nav {
	grid-area: nav;
}
footer {
	grid-area: footer;
	font-size: 12px;
	background-color: $gris;
}
section#foto {
	grid-area: foto;
}
section#texto {
	grid-area: texto;
}
.foto__index {
	display: block;
	margin: auto;
	margin-top: 75px;
	width: 400px;
	height: 350px;
}
.texto__index {
	font-size: 27px;
	display: block;
	margin: 150px 100px 150px 100px;
}

/* mediaquerie vista mobile */
@media only screen and (max-width: 768px) {
#layout_index {
	display: grid;
	grid-template-areas: 
	"logo logo logo"
	"nav nav nav"
	"foto foto foto"
	"texto texto texto"
	"footer footer footer";
	grid-template-rows: 100px 70px 120px;
	grid-template-columns: 100px 8% auto;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	height: 100vh;
	margin: 0;
}
header{
	grid-area: logo;
	justify-content: space-between;
}
nav {
	grid-area: nav;
}
footer {
	grid-area: footer;
	font-size: 7px;
	background-color: $gris;
	padding: 0;
	width: 100%;
}
.foto_index {
	display: block;
	margin:auto;
	
	margin-top: 40px;

	width: 500px;
	height: 350px;
}
.texto_index {
	font-size: 27px;
	display: block;
	margin: 350px 100px 150px 100px;
}
}
@media only screen and (min-width: 769px) and (max-width: 1023px){
#layout_index {
	display: grid;
	grid-template-areas: 
	"logo nav nav"
	"foto foto texto"
	"aside aside aside"
	"footer footer footer";
	grid-template-rows: 100px 500px 120px;
	grid-template-columns: 300px 15% auto;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	height: 100vh;
	margin: 0;
}
header{
	grid-area: logo;
}
nav {
	grid-area: nav;
}
footer {
	grid-area: footer;
	font-size: 0px;
	background-color: $gris;
	height: 100px;
	margin-top: 300px;
}
section#foto {
	grid-area: foto;
}
section#texto {
	grid-area: texto;
}
.foto_index {
	display: block;
	margin: auto;
	margin-top: 75px;
	margin-left: 100px;
	width: 400px;
	height: 350px;
}
.texto_index {
	font-size: 27px;
	display: block;
	margin: 100px 100px 150px 100px;
}	
}